# URL base de la aplicación (opcional)
# Útil si deseas generar QRs que apunten a una URL específica (ej. producción) desde un entorno de desarrollo.
# Si no se define, se usará window.location.origin.
VITE_APP_URL=https://tu-app-en-vercel.app

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
